// Variables
$main-color: #fffacd;
$black: #13131a;
$bg: #010103;
$border: 0.1rem solid rgba(255, 255, 255, 0.3);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

body {
    background: $bg;
}

section {
    padding: 1.25rem 7%;
    h2 {
    color: #fff;
    span {
        color: $main-color;
    }
    }
}

.bg-black {
    background-color: $bg;
}

.bg {
    background-color: $black;
}

.menu-ham {
    display: none;
    background-color: #fff;
    padding: 0.3rem;
    margin: 1rem;
}

.nav-a {
    color: #fff;
    text-decoration: none;
    &:hover {
        color: $main-color;
        border-bottom: 0.1rem solid $main-color;
        padding-bottom: 0.5rem;
    }
}

.bg-img{
    min-height: 100vh;
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container-inicio {
    max-width: 37.5rem;
    p {
        font-weight: lighter;
        line-height: 1.8;
        color: #eee;
    }
}

.boton-a {
    padding: 0.9rem 3rem;
    color: #000;
    background: $main-color;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        letter-spacing: .2rem;
        transform: translateY(-3px);
        animation: colorBottom 3s ease-out infinite;
    }
}

@keyframes colorBottom {
    0% {
        color: #000;
        background-color: $main-color;
    }

    100% {
        color: #fff;
        background-color: $bg;
    }
}

.container-img-nosotros {
    flex: 1 1 33.75rem;
    img {
        width: 100%;
    }
}

.container-content-nosotros {
    flex: 1 1 33.75rem;
}

.text-p {
    color: #ccc;
    line-height: 1.2;
    font-weight: lighter;
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.9375rem;
}

.box-grid {
    padding: 3.125rem;
    border: $border;
    img {
        height: 6.25rem;
    }
    h3 {
        color: #fff;
    }
}

#promociones {
    .box-grid {
        div {
            color: #fff;
            span {
                text-decoration: line-through;
                font-weight: lighter;
                color: #ccc;
            }
        }
        &:hover {
            background-color: #fff;
        }
        &:hover > * {
            color: $black;
        }
    }
}

.img-cliente {
    border-radius: 50%;
    object-fit: cover;
}

.stars {
    color: $main-color;
}

.iframe {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.redes {
    height: 3rem;
    width: 3rem;  
    line-height: 3rem;
    color: #fff;
    border: $border;
    margin: 0.3rem;
    border-radius: 50%;
    &:hover {
        background: $main-color;
        color: #000;
    }
}

footer {
    span {
        color: $main-color;
    }
}

@media (max-width: 576px) {
    .navbar {
        display: none;
    }
    .menu-ham {
        display: block;
    }
}

@media (max-width: 850px) {
    .logo {
        display: none;
    }
}