@import 'components/header';
@import 'components/inicio';
@import 'components/nosotros';
@import 'components/promociones';
@import 'components/clientes';
@import 'components/contacto';
@import 'components/footer';
@import 'base/variables';
@import 'base/colores';
@import 'base/mixin';


* {
    @include pad-mar(0, 0);
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

body {
    background: nth($colores, 3);
}

.bgBlack {
    background-color: nth($colores, 3);
}

.bg {
    background-color: nth($colores, 2);
}

.text-p {    
    color: nth($colores, 7);
    line-height: 1.2;
    font-weight: lighter;
    text-align: justify;
}

.boton-a {
    padding: 0.9rem 3rem;
    color: nth($colores, 6);
    background: nth($colores, 1);
    cursor: pointer;
    text-decoration: none;
    &:hover {
        letter-spacing: .2rem;
        transform: translateY(-3px);
        animation: colorBottom 3s ease-out infinite;
    }
}

@keyframes colorBottom {
    0% {
        color: nth($colores, 6);
        background-color: nth($colores, 1);
    }

    100% {
        color: #fff;
        background-color: nth($colores, 3);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.9375rem;
}

.box-grid {
    padding: 3.125rem;
    border: $border;
    img {
        height: 6.25rem;
    }
    h3 {
        color: #fff;
    }
}

@media (max-width: 576px) {
    .navbar {
        display: none;
    }
    .menu-ham {
        display: block;
    }
    .container-inicio {
        @include pad-mar(2rem, auto);
    }
}

@media (max-width: 850px) {
    .logo {
        display: none;
    }
    .container-inicio {
        @include pad-mar(4rem, auto);
    }
}