:root {
    --main-color: #fffacd;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

body {
    background: var(--bg);
}

section {
    padding: 1.25rem 7%;
}

section h2 {
    color: #fff;
}

section h2 span {
    color: var(--main-color);
}

.bg-black {
    background-color: var(--bg);
}

.nav-a {
    color: #fff;
    text-decoration: none;
}

.nav-a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.bg-img{
    min-height: 100vh;
    background: url(images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.container-inicio {
    max-width: 37.5rem;
}

.container-inicio p {
    font-weight: lighter;
    line-height: 1.8;
    color: #eee;
}

.boton-a {
    padding: 0.9rem 3rem;
    color: #000;
    background: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

.boton-a:hover {
    letter-spacing: .2rem;
    color: #000;
}

.bg {
    background-color: var(--black);
}

.container-img-nosotros {
    flex: 1 1 45rem;
}

.container-img-nosotros img {
    width: 100%;
}

.container-content-nosotros {
    flex: 1 1 45rem;
}

.text-p {
    color: #ccc;
    line-height: 1.2;
    font-weight: lighter;
    text-align: justify;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.9375rem;
}

.box-grid {
    padding: 3.125rem;
    border: var(--border);
}

.box-grid img {
    height: 6.25rem;
}

.box-grid h3, #promociones .box-grid div{
    color: #fff;
}

.box-grid div span {
    /* Tachado */
    text-decoration: line-through;
    font-weight: lighter;
    color: #ccc;
}

#promociones .box-grid:hover {
    background: #fff;
}

#promociones .box-grid:hover > * {
    color: var(--black);
}

.img-cliente {
    border-radius: 50%;
    object-fit: cover;
}

.stars {
    color: var(--main-color);
}

.iframe {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.footer__nav ul li a {
    height: 3rem;
    width: 3rem;  
    line-height: 3rem;
    color: #fff;
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer__nav ul li a:hover {
    background: var(--main-color);
    color: #000;
}

footer span {
    color: var(--main-color);
}