@import '../base/extend';

/* Ifreme de Sección Contacto */
.iframe {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

/* Título Sección Contacto */
#contacto {
    @extend %section;
    h2 {
        @extend %h2;
        span {
            @extend %span;
        }
    }
}

