@import '../base/colores';
@import '../base/extend';

.bg-img {
    min-height: 100vh;
    background: url(../../images/bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container-inicio {
    max-width: 37.5rem;
    margin: 10rem;
    p {
        font-weight: lighter;
        line-height: 1.8;
        color: nth($colores, 5);
    }
}

