.container-img-nosotros {
    flex: 1 1 33.75rem;
    img {
        width: 100%;
    }
}

.container-content-nosotros {
    flex: 1 1 33.75rem;
}

#nosotros {
    @extend %section;
    h2 {
        @extend %h2;
        span {
            @extend %span;
        }
    }
}
